th {
    color: #fff;
  }
  
  caption {
    padding-left: 10px;
    position: relative;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #17a2b8;
    color: #fff;
    text-align: center;
  }
  
  text {
    vertical-align: middle;
  }
  
  caption {
    display: none;
  }
  
  .anime {
    background-color: rgba(0, 0, 255, 0.1);
    box-shadow: 10px 5px 5px rgba(0, 0, 255, 0.1);
    transition-duration: 1ms;
    cursor: pointer;
  }
  
  .anime:hover {
    background-color: rgba(255, 0, 0, 0.1);
    box-shadow: 10px 5px 5px rgba(0, 0, 255, 0.1);
    transition-duration: 50ms;
  }
  
  img {
    margin: 1em;
    width: 15em;
    max-width: fit-content;
  }
  
  .row,
  .container {
    text-align: center;
    align-content: center;
  }
  
  #anime-stats {
    margin: 0 0em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 255, 0.1);
  }
  
  #anime-stats .col {
    padding: 0;
  }
  
  p.anime-overview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 24px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  form {
    margin:0;
  }
  
  
  
  #embedContainer {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  
  #embed iframe {
    width: 100% !important;
    height: 100% !important;
  }
  
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    #embed {
      padding: 10;
      height: 259px;
    }
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (min-width: 575.98px) and (max-width: 767.98px) { 
    #embed {
      padding: 10;
      height: 337px;
    }
  }
  
  /* Medium devices (tablets, less than 992px) */
  @media (min-width: 767.98px) and (max-width: 991.98px) {
    #embed {
      padding: 0;
      height: 415px;
    }
  }
  
  /* Large devices (desktops, less than 1200px) */
  @media (min-width: 991.98px) and  (max-width: 1199.98px) {
    #embed {
      padding: 0;
      height: 530px;
    }
  }
  
  /* X-Large devices (large desktops, less than 1400px) */
  @media (min-width: 1199.98px) and (max-width: 1399.98px) {
    #embed {
      padding: 5em;
      height: 720px;
    }
  }
  
  @media (min-width: 1399.98px) {
    #embed {
      padding: 5em;
      height: 800px;
    }
  }
  
  /* XX-Large devices (larger desktops) */
  /* No media query since the xxl breakpoint has no upper bound on its width */