* {
    margin: 0;
    padding: 0;
}
#main {
    margin: 20px 0;
    /* background: url("https://i.gifer.com/47tv.gif") top center no-repeat; */
    background-size: contain;
}

body {
    /* margin: 20px; */
    background-color: white;
}

body.dark-mode {
    background-color: rgba(0, 0, 0, 0.9);
    color: aliceblue;
}

#mainer {
    margin: 20px;
    max-width: 768px;
}

#main {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    background-color: #000;
}

@media only screen and (max-width: 479px) {
    #main {
        padding: 0;
        min-height: 260px;
        background-color: #000;
    }
}
iframe#embedvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}